.fade {
  height: 100%;
  transition: background-color 1000ms ease-in-out;
}

.home {
  background-color: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  transition: background-color 1s ease-in-out;
}

.container {
  display: flex;
  flex-direction: column;
  color: black;
  min-height: 100vh;
  /*height: auto;
  max-height: auto;*/
}
