html,
body {
  margin: 0 !important;
  padding: 0; }

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif; }
.RootView__root___3injS {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.RootView__container___1vEIw {
  height: 100%;
  display: flex;
  flex: 1; }
.TabBar__tabBar___30Xkd {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: stretch;
  z-index: 100;
  background-color: #fafafa; }

.TabBar__spacer___3JAPK {
  flex: 1; }

@media (max-width: 600px) {
  .TabBar__tabBar___30Xkd {
    background-color: #CCC;
    position: fixed;
    bottom: 0;
    padding: 0 50px 0;
    box-sizing: border-box;
    height: 40px;
    justify-content: center;
    border-top: 0.5px solid #999;
    color: #333; }
    .TabBar__tabBar___30Xkd .TabBar__background___1unWx {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-filter: blur(8px) contrast(0.4) brightness(1.4); }
  .TabBar__spacer___3JAPK {
    width: 0;
    flex: 0; } }
.TabBarItem__tabBarItem___226N3 {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 5px 20px 3px;
  display: flex;
  color: black; }
  .TabBarItem__tabBarItem___226N3 label {
    margin-left: 5px; }

.TabBarItem__selected___39poL {
  background-color: #119977;
  color: white; }

@media (max-width: 600px) {
  .TabBarItem__selected___39poL {
    background-color: transparent;
    color: #008800 !important; }
  .TabBarItem__tabBarItem___226N3 {
    font-size: 18px;
    flex-direction: column;
    align-items: center;
    color: #333; }
    .TabBarItem__tabBarItem___226N3 label {
      font-size: 12px;
      margin-left: 0;
      margin-bottom: 0;
      font-weight: 400; } }
.LogOut__logOut___2rlo6 {
  color: black;
  padding: 5px 5px 0 0; }
  .LogOut__logOut___2rlo6 .LogOut__userName___3u2JA {
    padding-right: 5px; }

@media (max-width: 600px) {
  .LogOut__logOut___2rlo6 {
    position: absolute;
    right: 0;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-top: 0;
    color: #333; }
    .LogOut__logOut___2rlo6 .LogOut__userName___3u2JA {
      display: none; } }
.AddButton__addButton___1Uy3m {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .AddButton__addButton___1Uy3m span {
    text-shadow: 0px -2px rgba(0, 0, 0, 0.2);
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: white; }
  .AddButton__addButton___1Uy3m:hover {
    background-color: #006700; }
  .AddButton__addButton___1Uy3m:active {
    background-color: #004d00; }

.AddButton__fixed___1S-YB {
  position: fixed;
  bottom: 10px;
  right: 10px; }

@media (max-width: 600px) {
  .AddButton__fixed___1S-YB {
    bottom: 50px; } }
.List__list___32KbO {
  flex: 1;
  height: 100%;
  width: 100%; }

.List__addButton___3KSkC {
  position: fixed;
  left: 10px;
  bottom: 10px; }
.Details__details___3Y8iM {
  width: 400px;
  list-style: none;
  margin: 0;
  -webkit-padding-start: 0;
  padding: 10px;
  flex-shrink: 0;
  background-color: #f0f0f0;
  border-left: 2px solid #119977;
  border-top: 2px solid #119977; }
  .Details__details___3Y8iM li {
    margin-bottom: 20px; }

@media (max-width: 600px) {
  .Details__details___3Y8iM {
    width: 100vh;
    height: 100vh; } }
.AddJob__jobForm___2Epfy label {
  display: block; }

.AddJob__jobForm___2Epfy .AddJob__submit___3Engb {
  margin-top: 20px; }
.StatusEditor__table___XQLMc {
  width: 100%;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0; }

.StatusEditor__deliveryRequested___E1OqB {
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  color: white;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 30px;
  background-color: blue; }

.StatusEditor__delivered___svYDE {
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  color: white;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 30px;
  background-color: gray; }

.StatusEditor__pickupRequested___1_kls {
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  color: white;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 30px;
  background-color: red; }

.StatusEditor__complete___1-aea {
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  color: white;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 30px;
  background-color: green; }

.StatusEditor__selected___18iLv {
  border: 3px solid yellow; }
.Checkbox__checkBox___3VwJM {
  padding: 4px 0 0 8px; }
  .Checkbox__checkBox___3VwJM input {
    -webkit-transform: scale(2); }
.LogIn__logInForm___1iS14 {
  width: 100vw;
  height: 100vh;
  background: #119977; }
  .LogIn__logInForm___1iS14 form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .LogIn__logInForm___1iS14 form input {
      max-width: 200px; }
    .LogIn__logInForm___1iS14 form .LogIn__submit___1YCB5 {
      margin-top: 10px; }
